<% layout('/layouts/boilerplate') %>

<h1>
    <%= landmarkData.nationalLandmarkName %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkWikipediaLink %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkImageLink %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkDateDesignated %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkState %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkCity %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkCoordinates %>
</h1>

<h1>
    <%= landmarkData.nationalLandmarkDescription %>
</h1>